@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dbug {
  @apply border-2 border-red-500;
}

.transition-base {
  @apply transition-all duration-200;
}

@layer utilities {
  @keyframes dropIn {
    0% {
      transform: translateY(-7px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .animate-drop {
    animation: dropIn 0.3s ease-in;
  }
}