[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/home/mom/pb/errors.log
StandardError  = append:/home/mom/pb/errors.log
ExecStart      = /home/mom/pb/pocketbase serve admin.lightclickphoto.com 

[Install]
WantedBy = multi-user.target